{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>

<body>
  <section class="hero is-info is-fullheight">
    <menu>
        <li><a href="/">INICIO</a></li>
        <li><a href="/registrar">REGISTRAR</a></li>
    </menu>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
              </div>
              <div> <label class="label">Busca tu Pokémon</label>
                <form action="/pokesea" method="POST">
                  <input class="input" type="text" name="pokemon" placeholder="Pokemon">
                  <button>Buscar</button>
                </form>      
            </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>