{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Pokemon</title>
  
</head>
<body style="background: cornflowerblue;" style="background-image: url(css/pokemon.jpg); ">
  <p style="text-align: center;">POKEDESK Versión 1.0 Francisco Monroy</p>
  <tr>
    <td style="color: darkred;"><p style="text-align: center;">Id: {{pokemon['id']}}</p></td>
    <td><p style="text-align: center;">Nombre de Pokémon:</p> <p style="text-align: center;">{{pokemon['Nombre']}}</p></td>
    <td><p style="text-align: center;">Tamaño del Pokémon: {{pokemon['Tamaño']}}</p></td>
    <td><p style="text-align: center;">Habilidades del Pokémon: {{pokemon['Habilidades']}}</p></td>
    <td><p style="text-align: center;" >Tipo de Pokémon:{{pokemon['Tipo']}}</p></td>
    <td><p style="text-align: center;">Peso del Pokémon: {{pokemon['Peso']}} </p></td>
  </tr>
</body>

</html>